html {
  font-size: 50px;
}

#mobile-header {
  flex: 1;
  background-color: #f6f6f6;
}

#mobile-header header {
  border-bottom: 1px solid #2db7f5;
  padding-left: 10px;
}

#mobile-header header img {
  height: 50px;
}

#mobile-header header span {
  font-size: 20px;
  padding-left: 20px;
  color: #2db7f5;
  vertical-align: top;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
}