.logo {
  /*align-items: center;*/
  display: flex;
  float: right;
  margin-right: 20px;
}

.logo img {
  height: 0.8rem;
  margin-top: 0.2rem;
}

.logo span {
  font-size: 24px;
  padding-left: 20px;
}

.footer {
  text-align: center;
}

.login-form {
  position: relative;
  width: 260px;
  min-width: 260px;
  margin-left: 50%;
  left: -130px;
  margin-top: 50px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.logout button {
  margin-left: 10px;
}