.logo {
  align-items: center;
  display: flex;
}

.logo img {
  width: 70%;
}

.logo span {
  font-size: 24px;
  padding-left: 20px;
}

.footer {
  text-align: center;
}

.login-form {
  position: relative;
  width: 300px;
  margin-left: 50%;
  left: -150px;
  margin-top: 50px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}