.logo {
  /*align-items: center;*/
  display: flex;
  float: right;
  margin-right: 20px;
}

.logo img {
  height: 0.8rem;
  margin-top: 0.2rem;
}

.logo span {
  font-size: 24px;
  padding-left: 20px;
}

.footer {
  text-align: center;
  height: 200px;
  line-height: 200px;
  margin-top: 80px;
  border-top: 1px solid #f2f2f2;
}

.login-form {
  position: relative;
  width: 260px;
  min-width: 260px;
  margin-left: 50%;
  left: -130px;
  margin-top: 50px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.logout button {
  margin-left: 10px;
}

.left-container {
  padding-top: 20px;
  float: left;
}

.carousel {
  width: 400px;
  margin-top: 10px;
}

.carousel .slick-slide {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background: #364d79;
  overflow: hidden;
}

.carousel .slick-slide h3 {
  color: #fff;
}

.container-tabs {
  padding-left: 20px;
  margin-top: 20px;
  width: 500px;
}

.news-block {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.news-block li div {
  padding-bottom: 7px;
  color: #666666;
  font-size: 13px;
}

.image-card {
  width: 20%;
}

.image-card img {
  width: 10px;
}

.news-detail-container {
  /*padding: 10px;*/
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.news-detail-container h1 {
  font-size: 20px;
  margin-top: 30px;
}

.news-detail-container .article-src-time {
  font-size: 13px;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.news-detail-container #content {
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}

.news-detail-container .txt {
  font-size: 14px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.news-detail-container .img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  height: auto;
  padding: 10px;
  margin-left: 50%;
  right: 35%;
  position: relative;
  border: 1px solid #f2f2f2;
}

.comment .ant-col-24 {
  padding-left: 10px;
  padding-right: 10px;
  border-top: 1px solid #f2f2f2;
  padding-top: 30px;
}

.comment .ant-col-24 .ant-card {
  margin-bottom: 10px;
}

.comment .ant-col-24 .ant-card .ant-card-head .ant-card-head-title {
  font-size: 13px;
}

.comment .ant-col-24 form {
  margin-top: 20px;
  padding-top: 10px;
  /*border-top: 1px solid #f2f2f2;*/
}

.comment-button {
  float: right;
}
.collect-button {
  float: right;
  margin-right: 20px;
}
